<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Graph</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
                        <h1>Stock Graph</h1>
                        <form id='input' method='post' action='plot'>	
			        Ticker symbols (Whitespace Delimited): <input type='text' name='ticker' />   <input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
